/* Estilos do componente principal aqui */
html, body, app-root, app-youtube-player, youtube-player, youtube-player > div, youtube-player-placeholder, .video-player-container, iframe, .youtube-player-placeholder{
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: black !important;
}