.loadADSTimeBar{
    width: 0;
    height: 1px;
    background: red;
    position: absolute;
    top: 0;
    z-index: 2;
    transition: width linear;
}

.opacity{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.commonPlayer{
    position: absolute;
    width: 100vw !important;
    height: 100vh !important;
    left: 0;
    top: 0;
    z-index: 1;
    background: black;
}
.adsPlayer{
    position: absolute;
    width: 100vw !important;
    height: 100vh !important;
    left: 0;
    top: 0;
    z-index: 2;
    background: black;
}

.overlay-click-to-start {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    cursor: pointer;
}

.overlay-click-to-start .btn {
    padding: 20px 40px;
    background: #ff0000;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}